body {
    margin: auto;
}

main {
    margin: auto;
    background-color: rgb(248, 250, 252);
    width: 60%;
}

.container-1 {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logo {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: rgb(23, 22, 22);
}

span {
    color: rgb(100, 92, 255);
}

.social {
    width: 136px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.fcb, .twit, .linkedin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16px;
    height: 16 px;
    color: rgb(100, 92, 255);
}

.wrapper {
    margin: auto;
    margin-top: 10px;
    width: 95%;
    background-color: rgb(248, 250, 252);
}

.container-2 {
    width: 65%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 30px;
    padding-bottom: 60px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.input {
    background-color: rgb(240, 242, 246);
    border: solid 1px rgb(226, 232, 240);
    border-radius: 5px;
}

.btn-submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 59, 249);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
}

.error {
    color: brown;
    text-align: center;
    margin-top: 10px;
}

.container-3 {
    width: 65%;
    margin: auto;
    text-align: center;
    padding: 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.btn-back {
    width: 50%;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}